.portlet-directory {
	.details {
		overflow: hidden;

		.avatar {
			float: left;
			width: 100px;
		}

		dd {
			margin-bottom: 0.8em;
		}

		dl {
			margin-left: 115px;
		}

		dt, dd {
			clear: both;
		}

		dt {
			font-weight: bold;
			line-height: 1.1;
			margin-bottom: 0;
		}
	}

	table.org-labor-table {
		border: 1px solid white;
		margin-bottom: 30px;
		margin-top: 10px;

		td {
			background-color: #EFEFEF;
			padding: 5px;
			text-align: center;

			&.no-color {
				background-color: #FFF;
			}
		}

		th {
			background-color: #999;
			color: white;
			padding: 1px 5px 1px 5px;
		}
	}

	.primary {
		color: #020509;
		font-weight: bold;
		margin-bottom: 10px;
		padding: 5px;
		padding-left: 10px;
	}

	dl.property-list {
		margin-top: 0;
		overflow: hidden;
		padding: 0;

		dd {
			padding-left: 5px;

			img {
				vertical-align: middle;
			}
		}

		li {
			margin-bottom: 5px;
		}

		dt, dd {
			float: left;
			line-height: 1.5;
			margin: 0;
		}

		dt {
			clear: left;
			font-weight: bold;
			min-width: 5em;
		}
	}

	.section {
		float: left;
		margin-left: 10px;
		min-width: 250px;
		width: 47%;

		h3 {
			background: no-repeat 2px 50%;
			border-bottom: 1px solid #CCC;
			line-height: 1.5;
			margin-bottom: 0.5em;
		}

		li {
			list-style: none;
			margin: 0;
		}

		ul {
			margin: 0;
		}
	}

	.entity-details {
		clear: both;
	}

	.user-information, .organization-information {
		overflow: hidden;
	}
}