##
## You can use Velocity to define display templates for the Blogs portlet.
##
## A set of variables have been made available for the template developers:
##
##  $ddmTemplateId: the current template id
##
##  $entries: the list of blog entries that are being shown in the blogs portlet
##
##  $entry: the blogs entry when there's only one blog entry
##
##  $locale: the locale of the site
##
##  $renderRequest: the render request
##
##  $renderResponse: the render response
##
##  $taglibLiferay: object that provides access to Liferay's taglibs
##
##  $themeDisplay: the theme display
##
## The variable $templatesPath can be used to include another template through
## its template key, e.g. #parse ("$templatesPath/LAYOUT-PARENT").
##