{namespace ImageEditorCropControls}

/**
 * ImageEditor.Controls "crop" implementation.
 */
{deltemplate ImageEditor.Controls variant="'crop'"}
	{call ImageEditorCropComponent.render data="all" /}
{/deltemplate}

/**
 * Empty .render placeholder. Necessary for metal-cli AOP.
 */
{template .render}
{/template}