@import "bourbon";
@import "mixins";

.control-menu {
	.staging-links {
		padding-top: 3px;
		position: static;
	}

	.staging-message {
		margin: 0 auto;
		width: 75%;
	}
}

.control-menu-nav {
	.staging-bar {
		position: absolute;

		@include sm() {
			position: static;
		}
	}
}

.live-link {
	margin-right: 24px;
}

.publish-btn-group {
	vertical-align: middle;

	@include sm() {
		border-radius: 3px;
		overflow: hidden;
	}

	.btn {
		@include media-query(null, $screen-xs-max) {
			font-size: 1em;
			padding: 13px 15px;

			&:first-child {
				display: block;
				padding-right: 50px;
				width: 100%;
			}
		}
	}

	.dropdown-toggle {
		@include media-query(null, $screen-xs-max) {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			position: absolute;
			right: 0;
			top: 0;

			&:after {
				background-color: #FFF;
				bottom: 7px;
				content: '';
				display: block;
				left: -3px;
				position: absolute;
				top: 7px;
				width: 2px;
				z-index: 10;
			}
		}
	}
}

.staging-bar-control-toggle {
	div {
		margin-bottom: 0;

		label {
			margin-bottom: 0;
			min-width: 210px;

			@include sm() {
				float: left;
			}

			span {
				span.toggle-switch-handle {
					color: #FFF;
					font-size: 14px;
					font-weight: 500;
					text-transform: none;
				}
			}
		}
	}
}

.staging-bar-workflow-text span span span.status {
	color: #869CAD;
}

.staging-layout-revision-details {
	@include sm() {
		@include align-items(center);

		display: flex;

		@include flex(0 1 50%);
		@include justify-content(space-between);
	}

	&:first-child {
		@include sm() {
			@include flex-basis(100%);
		}

		.staging-layout-revision-details-list {
			@include sm() {
				@include flex-wrap(nowrap);

				> li {
					margin-left: 15px;

					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}

	.staging-layout-revision-details-list {
		display: block;
		width: 100%;

		@include sm() {
			@include display(flex);
			@include flex(1);
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}
	}
}

.staging-ready {
	padding-top: 64px;
}

.staging-variation-label {
	display: block;
	font-weight: 500;
	margin-bottom: 10px;

	&:hover {
		text-decoration: none;
	}

	@include sm() {
		font-size: 12px;
	}
}

.staging-variation-selector {
	display: block;
	font-weight: 500;
	max-width: 250px;
	overflow: hidden;
	padding-right: 20px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;

	@include sm() {
		font-size: 14px;
	}

	> span {
		bottom: 0;
		display: block;
		position: absolute;
		right: 0;
	}
}