{namespace ImageEditorRotateControls}

/**
 * ImageEditor.Controls "rotate" implementation.
 */
{deltemplate ImageEditor.Controls variant="'rotate'"}
	{call ImageEditorRotateComponent.render data="all" /}
{/deltemplate}

/**
 * Empty .render placeholder. Necessary for metal-cli AOP.
 */
{template .render}
{/template}