##
## Display templates are used to lay out the fields defined in a data list
## definition.
##
## Please use the left panel to quickly add commonly used variables.
## Autocomplete is also available and can be invoked by typing "$".
##
## Use the following code snippet to retrieve records:
##
## #set ($records = $ddlDisplayTemplateHelper.getRecords($reserved_record_set_id))
##