/* ---------- Sidebar ---------- */

.command-logger .sidebar {
	width: 30%;
}

.minimized-sidebar .sidebar {
	transform: translateX(100%);
}

.sidebar {
	background-color: $sidebar-bg-color;
	border-left: 1px solid $sidebar-border-color;
	color: $sidebar-default-text-color;
	display: inline-block;
	font-family: $general-font;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(0%);
	transition: transform 0.4s ease-out, width 0.4s ease-out;
	width: 20%;
	z-index: 200;

	.title {
		display: block;
		font-size: 32px;
		font-weight: 500;
		margin: 30px 0 10px 17px;
		position: relative;
	}

	.scope-type {
		margin-bottom: 60px;
	}

	.scope-name {
		background-color: $sidebar-bg-color;
		display: block;
		float: right;
		font-size: 15px;
		font-weight: 100;
		max-width: 100%;
		min-width: 100%;
		overflow: hidden;
		padding: 9px 0 9px 20px;
		position: relative;
		text-overflow: ellipsis;
		transition: all 0.8s ease-in-out;
		white-space: nowrap;
		width: auto;

		&:hover {
			box-shadow: $scope-name-hover-box-shadow;
			max-width: 300%;
			padding-right: 20px;
		}
	}

	.parameter-name {
		font-size: 12px;
		font-weight: 500;
		margin: 15px 20px 0;
	}

	.parameter-value {
		font-size: 11px;
		margin: 10px 30px;
	}
}