.has-control-menu {
	#wrapper {
		margin-top: $has-control-menu-margin-top-mobile;

		@include sm() {
			margin-top: $has-control-menu-margin-top-desktop;
		}
	}

	&.has-customization-menu #wrapper {
		margin-top: ($has-control-menu-margin-top-mobile + $has-customization-menu-margin-top-mobile);

		@include sm() {
			margin-top: ($has-control-menu-margin-top-desktop + $has-customization-menu-margin-top-desktop);
		}
	}
}

.control-menu {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $control-menu-zindex;
}

.control-menu-icon {
	display: inline-block;
	margin: 0 10px;
}

.control-menu-level-1 {
	background-color: $control-menu-level-1-bg;
	color: $control-menu-level-1-color;

	> .container-fluid-1280 {
		padding: 6px 16px 7px 5px;

		@include sm() {
			padding-bottom: 14px;
			padding-right: 17px;
			padding-top: 15px;
		}
	}

	a {
		color: $control-menu-level-1-link-color;

		&:focus, &:hover {
			color: $control-menu-level-1-link-hover-color;
			text-decoration: none;
		}
	}
}

.control-menu-level-1-heading {
	color: #FFF;
	font-size: 19px;
	font-weight: bold;
}

.control-menu-level-1-nav {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	> .control-menu-nav-item {
		@include align-self(center);
	}
}

.control-menu-level-2 {
	background-color: $control-menu-level-2-bg;
	color: $control-menu-level-2-color;

	.control-menu-label {
		@include sm() {
			color: $control-menu-level-2-label-color;
		}
	}

	padding-bottom: 7px;
	padding-top: 6px;

	@include sm() {
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
	}

	@include media-query(null, $screen-xs-max) {
		bottom: 0;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
	}

	&.open {
		@include media-query(null, $screen-xs-max) {
			background-color: transparentize(#29343D, 0.1);
			display: block;
			overflow: auto;
		}
	}
}

.control-menu-level-2-heading {
	font-size: 18px;
	font-weight: 500;
	padding: 20px 0;
	text-align: center;

	.close {
		color: $control-menu-level-2-color;
		opacity: 1;
	}
}

.control-menu-level-2-nav {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	> .control-menu-nav-item {
		@include media-query(null, $screen-xs-max) {
			margin-bottom: 55px;
		}
	}

	.control-menu-nav-item {
		@include media-query(null, $screen-xs-max) {
			width: 100%;
		}
	}

	.dropdown {
		@include media-query(null, $screen-xs-max) {
			width: 100%;
		}
	}
}

.control-menu-link {
	&.active {
		&:after {
			background-color: $control-menu-level-1-active-border;
			height: $control-menu-level-1-active-border-width;
		}
	}
}

.control-menu-nav {
	@include align-items(center);
	@include display(flex);

	font-size: 16px;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.control-menu-nav-item {
	display: inline-block;
}

.control-menu-nav-item-content {
	@include display(flex);
	@include flex(1 1 0);
	@include justify-content(center);

	min-width: 64px;
	width: 0;

	.ie & {
		width: auto;
	}

	.clamp-container {
		overflow: hidden;
		text-overflow: ellipsis;
		top: 50%;

		@include transform(translateY(-50%));

		white-space: nowrap;
	}
}

.control-menu-nav-item-field {
	@include flex(0 1 auto);
}

.live-link, .staging-link {
	font-size: 14px;

	a, a:focus, a:hover {
		color: #869CAD;
	}

	&.active {
		position: relative;

		&:after {
			bottom: -20px;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
		}

		a {
			color: #FFF;
		}
	}

	.lexicon-icon {
		margin-top: -2px;
	}
}

.sidenav-transition {
	.control-menu,
	.control-menu-level-2 {
		@include transition($control-menu-css-transition);
	}
}

.tools-control-group {
	@include flex(1);
	@include flex-wrap(wrap);

	> .control-menu-nav {
		@include flex-wrap(wrap);
		@include justify-content(center);
	}

	.taglib-icon-help {
		margin-top: 1px;
		min-width: 32px;
		text-align: center;
	}
}

.user-control-group {
	.portlet-options {
		margin-right: -1px;
	}
}