$admin-panel-width: 320px;
$admin-panel-zindex: 1035 !default;

$control-menu-css-transition: all 0.5s ease !default;

$control-menu-level-1-active-border: #65B6F0 !default;
$control-menu-level-1-active-border-width: 2px !default;
$control-menu-level-1-bg: #29343D !default;
$control-menu-level-1-color: #869CAD !default;
$control-menu-level-1-link-color: #FFF !default;
$control-menu-level-1-link-hover-color: $control-menu-level-1-link-color !default;

$control-menu-level-2-bg: #4B5B65 !default;
$control-menu-level-2-color: #FFF !default;
$control-menu-level-2-label-color: #869CAD !default;

$control-menu-zindex: $admin-panel-zindex - 1 !default;

$has-control-menu-margin-top-desktop: 64px;
$has-control-menu-margin-top-mobile: 48px;

$has-customization-menu-margin-top-desktop: 64px;
$has-customization-menu-margin-top-mobile: 48px;