{namespace ImageEditorResizeControls}

/**
 * ImageEditor.Controls "resize" implementation.
 */
{deltemplate ImageEditor.Controls variant="'resize'"}
	{call ImageEditorResizeComponent.render data="all" /}
{/deltemplate}

/**
 * Empty .render placeholder. Necessary for metal-cli AOP.
 */
{template .render}
{/template}