.lfr-item-viewer {
	.search-info {
		padding: 10px;
		padding-right: 50px;
		position: relative;

		.keywords {
			float: none;
		}

		.close-search {
			margin-top: -8px;
			position: absolute;
			right: 15px;
			top: 50%;
		}
	}
}