@import "bourbon";

.marketplace-app-manager-portlet {
	.additional-info {
		font-size: 13px;

		.additional-info-item {
			display: inline-block;
			margin-right: 2em;
		}
	}

	.search-container-icon {
		height: 24px;
		width: 24px;

		img, svg {
			height: 100%;
			width: 100%;
		}

		svg {
			fill: #869DAD;
		}
	}

	.tabular-list-group .list-group-item-content {
		word-break: normal;
		word-wrap: normal;
	}
}

@media screen and (min-width: 768px) {
	.marketplace-app-manager-portlet .search-container-icon {
		height: 48px;
		width: 48px;
	}
}