@import "bourbon";
@import "mixins";

.so-portlet-invite-members {
	.search {
		border: 1px solid;
		border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
		height: 300px;
		margin-bottom: 1em;
		overflow-x: hidden;
		overflow-y: auto;

		.more-results a {
			display: block;
			margin: 5px;
			padding: 2px;
			text-align: center;

			&:hover {
				background-color: #CCE6F7;
			}
		}
	}

	.invited, .user {
		background: transparent url(@theme_image_path@/lexicon/plus.svg) no-repeat 1% 50%;
		background-size: 16px;
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		cursor: pointer;
		list-style-type: none;
		padding: 2px 5px 2px 18px;
		white-space: nowrap;

		.name {
			margin-left: 2%;
		}
	}

	.email-invited .user, .user-invited .user {
		background: url(@theme_image_path@/lexicon/times.svg) no-repeat 99% 50%;
		background-size: 16px;
		border-bottom: 1px solid #CCC;
		padding: 0.5em 1.5em 0.5em 0.5em;
	}

	.user-invited {
		margin-bottom: 1em;

		.user {
			span {
				display: inline-block;
				width: 50%;
			}

			.name {
				color: #555;
				font-weight: bold;
			}

			.email {
				color: #000;
				font-size: 1em;
				margin: 0;
			}
		}
	}

	.email-invited {
		margin-bottom: 1em;

		.user .email {
			color: #555;
			font-size: 1em;
			font-weight: bold;
		}
	}

	.pending-member-request {
		background: url(@theme_image_path@/lexicon/check.svg) no-repeat 1% 50%;
		background-size: 16px;
	}

	.invited {
		background: url(@theme_image_path@/lexicon/times.svg) no-repeat 1% 50%;
		background-size: 16px;
	}

	span.email {
		color: #AAA;
		font-size: 0.8em;
		margin-left: 0.5em;
	}
}