.lfr-asset-column-details {
	.lfr-asset-title .lfr-asset-actions img {
		margin-left: 5px;
	}

	.lfr-asset-actions {
		float: right;
		font-size: 11px;
		font-weight: normal;
		margin-bottom: 3px;
		margin-top: 0;
	}

	.task-activity {
		padding: 5px 5px 5px 25px;
	}

	.task-activity-date {
		font-weight: bold;
	}

	h3.task-content-title {
		border-bottom: 1px solid #DDD;
		margin-top: 0;
	}

	.task-panel-container .lfr-panel-content {
		padding: 0.7em;
	}

	.task-content-actions {
		float: right;
	}

	.asset-metadata {
		background-color: #EFEFEF;
		border-top: 1px solid #DDD;
		margin: 2em 0 0;
		padding: 0.5em;

		span {
			display: inline-block;
		}
	}

	.metadata-author {
		font-weight: bold;
		margin-right: 10px;
	}

	.metadata-entry {
		color: #999;
	}
}

.portlet-boundary_com_liferay_portal_workflow_definition_web_portlet_WorkflowDefinitionPortlet_ {
	.lfr-active-column, .lfr-version-column {
		width: auto;
	}
}

.portlet-workflow-definitions {
	.lfr-upload-container {
		.drop-file-text {
			display: none;
		}

		.card-row.card-row-padded {
			padding-left: 20px;

			.card-col-field {
				font-size: 40px;
			}
		}

		.upload-complete {
			padding-left: 0;
		}

		.upload-list {
			margin-top: 10px;

			.upload-list-info {
				display: none;
			}
		}

		.upload-target {
			border-width: 0;
			padding: 0;
			text-align: left;
		}
	}
}

.workflow-definition-container {
	margin-top: 20px;
}

#workflowTasksPanelContainer {
	border-width: 0;
}