@import "bourbon";

$val: 1.555555555;

.test {
	-moz-border-radius-bottomleft: 1px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 1px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 1px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 1px;
	background-position: 0px 100px;
	border-left: 0px;
	border-left-color: red;
	border-left-width: 0px;
	border-radius-bottomleft: 0px;
	border-radius-bottomright: 1px;
	border-radius-topleft: 0px;
	border-radius-topright: 1px;
	border-right: 1px;
	border-right-color: white;
	border-right-width: 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 1px;
	clear: left;
	direction: ltr;
	float: left;
	line-height: $val;
	margin-left: 0px;
	margin-right: 1px;
	padding-left: 0px;
	padding-right: 1px;
	text-align:left;

	.test-quad {
		-moz-border-radius: 10px 1px 20px 0px;
		-webkit-border-radius: 10px 1px 20px 0px;
		border-color: black white green red;
		border-radius: 10px 1px 20px 0px;
		border-style: dotted solid double dashed;
		border-width: 10px 1px 20px 0px;
		margin: 10px 1px 20px 0px;
		padding: 10px 1px 20px 0px;
	}
}